<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Заявка:
<form action="/save" method="post" th:object="${application}">
    дата <input type="date" th:field="*{date}" ><br>
    курс <select th:field="*{title}">
        <option th:each="type1 : ${courses}" th:value="${type1}" th:text="${type1}"></option>
    </select><br><br>
    Клієнт:<br>
    <input name="name" type="text" placeholder="ім'я"><br>
    <input name="surname" type="text" placeholder="прізвище"><br>
    <input name="phone" type="text" placeholder="телефон"><br>
    <input name="email" type="text" placeholder="email"><br>
    <input type="submit" value="зберегти">
</form>
<hr>

<h3>Вивести список заявок</h3>
<form th:action="@{/findAll}" method="get">
    <input type="submit" value="Вивести!">
</form>

</body>
</html>